@import url("./fonts.css");
@import url("./font-awesome.css");

/*
Theme Name: Twenty Sixteen
Theme URI: https://wordpress.org/themes/twentysixteen/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Twenty Sixteen is a modernized take on an ever-popular WordPress layout — the horizontal masthead with an optional right sidebar that works perfectly for blogs and websites. It has custom color options with beautiful default color schemes, a harmonious fluid grid using a mobile-first approach, and impeccable polish in every detail. Twenty Sixteen will make your WordPress look beautiful everywhere.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, gray, red, white, yellow, dark, light, one-column, two-columns, right-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: twentysixteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/



body {
	font-family: "opensans_regular",sans-serif;
    font-size: 1em;
	color: #333;
}

h1, h2, h3 {
	font-family: "opensans_light",sans-serif;
}
h2 {
	text-align: center;
	font-size: 2em;
	margin-bottom: 0.7em;
}
h3 {
	text-align: center;
	font-size: 2.7em;
	margin-bottom: 0.7em;
}
h4 {
	color: #ed1c91;
	font-weight: bold;
	margin-top: 20px;
 }
 h5,
 .entry-content h5 {
    color: rgb(255, 150, 29);
    font-size: 16px;
    font-weight: normal;
    margin: 1.5em 0 0.5em 0;
 }
h6 {
	text-transform: uppercase;
}
h2.single-title {
    text-align: left;
    margin: 0.5em 0;
}
h2.entry-title {
    font-family: "opensans_light",sans-serif;
}
.sidebar h4 {
    color: #1A8472;
    font-size: 1em;
}
.entry-content h3 {
    font-size: 1.2em;
    text-align: left;
    color: #FF961D;
    margin-bottom: 0.5em;
    margin-top: 0.8em;
}
.entry-content h4 {
    color: #333;
    font-size: 1.1em;
    line-height: 1.8em;
    text-align: left;
    letter-spacing: 1px;
}
.entry-content blockquote,
.entry-content blockquote:not(.alignleft):not(.alignright),
blockquote {
    margin-left: 0;
    font-size: 18px;
    border-color: #FF961D;
}
.small {
	font-size: 50%;
	color: #333;
}
p {
	margin: 0 0 15px;
}
p.perex,
.perex p {
	font-family: "opensans_light",sans-serif;
	font-style: italic;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 2em;
}
p.perex i {
	color: #ED1C91;
	margin: 0px 0.5em;
	font-size: 75%;
}
ol,
.entry-content ol {
    margin-left: 1em;
}
/* LINKS */
a,
a:hover,
a:focus,
a:active,
.entry-title a,
.entry-title a:hover,
.entry-title a:focus,
.entry-title a:active {
    color: #007763;
    text-decoration: none;
}
a {
    opacity: 0.9;
}
a:hover,
a:focus,
a:active {
    opacity: 1;
    transition: all 0.5s;
}
.entry-content a {
    box-shadow: none;
    text-decoration: underline;
}
.entry-title {
    font-weight: normal;
}
.link-wrap {
    margin-top: 1em;
}
.title {
    text-align: left;
    text-transform: uppercase;
    font-size: 2em;
    background: #fff;
}
.title:before {
    content:"";
    background: #007863;
    width: 97%;
    position: absolute;
    left: 15px;
    height: 9px;
    top: 9px;
}
.title span {
    background: #fff;
    position: relative;
    z-index: 0;
    padding-right: 1em;
}
.back-link i {
	color: rgb(51, 122, 183);
}
.f-right {
	float: right;
}
.center {
	text-align: center;
}
#content {
	padding: 9em 0em 2em 0em;
	line-height: 28px;
}
.home #content {
    padding-top: 9em;
}
.loged-in #content {
    padding: 6em 0em 2em 0em;
}
.bg-primary {
	padding: 2em;
	background: #C0E9F6 none repeat scroll 0% 0%;
	color: #333;
	border: 1px dashed #4BC4EA;
}
/* Buttons */
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus,
input[type="submit"].btn-primary,
input[type="submit"].btn-primary:hover,
input[type="submit"].btn-primary:active,
input[type="submit"].btn-primary:active:focus {
    background: #007763;
}
.btn-primary a,
.btn-primary a:hover,
.btn-primary a:link,
input[type="submit"].btn-primary:hover,
input[type="submit"].btn-primary:link {
	color: #fff;
	opacity: 0.7;
	transition: all 2s;
}
.btn-primary a:hover,
.btn-primary a:focus,
.btn-primary a:link {
	text-decoration: none;
	opacity: 1;
}
/* input submit */
.submit-wrap {
    text-align: center;
}
input[type="submit"],
input[type="submit"]:hover {
    padding: 1em 2.5em;
    display: inline-block;
    font-size: 1em;
    height: initial;
    line-height: initial;
    background: #000;
    opacity: 0.8;
}
input[type="submit"]:hover {
    opacity: 1;
}
#content ul {
	margin-bottom: 2em;
}
#content ul > li {
	list-style-image: url("../images/ico-li.png");
	margin: 10px 0;
}
figure {
	margin: 1em 0;
}
figcaption {
	font-style: italic;
	color: #666;
}
figure img,
.single-post figure img {
	margin-bottom: 10px;
}
/* PAGINATION */
.pagination {
    margin-bottom: 40px;
    float: right;
    margin-right: 15px;
    border-top: none;
    clear: both;
}
.pagination:before,
.pagination:after {
    background: transparent;
}
.pagination .page-numbers {
    display: inline-block;
    background: #eee;
    padding: 1em;
    width: 45px;
    text-align: center;
    font-size: 1.3em;
    position: relative;
    z-index: 100;
}
.pagination .page-numbers.next {
    position: absolute;
}
.pagination .page-numbers.current {
    background: #1A8472;
    color: #fff;
}
.pagination .current .screen-reader-text {
	display: none;
}
.pagination .prev,
.pagination .next,
.pagination .prev:before,
.pagination .next:before,
.pagination .prev:hover,
.pagination .prev:focus,
.pagination .next:hover,
.pagination .next:focus {
    background: #ccc;
    background: #ccc;
    padding: 2px 0px;
    text-align: center;
    height: 45px;
    line-height: 38px
}
.pagination .prev {
    left: -60px;
}
.pagination .nav-links {
    padding-right: 40px;
}
.pagination .nav-links:before, .
.pagination .nav-links:after {
    position: relative;
}
.pagination .nav-links:after {
    right: 0;
}
/* FILTER BOX */
.filter-box {
    position: relative;
    background: #eee;
}
.filter-box .filter-default {
    padding-left: 70px;
    padding-top: 12px;
    height: 50px;
}
.filter-box-content {
    padding: 0em 2em 2em 2em !important;
    margin-top: 1em;
    border-top: 1px dashed #c2c2c2;
}
.filter-box .btn {
    font-size: 0.8em;
    padding: 1em;
}
#filter-toggle {
    position: absolute;
    top: 0;
    left: 0;
}
#filter-toggle:before {
    content: "-";
    background: #1A816C;
    color: #fff;
    float: left;
    font-size: 2em;
    font-weight: bold;
    font-family: "opensans_regular", sans-serif;
    margin-right: 15px;
    cursor: pointer;
    width: 40px;
    height: 50px;
    text-align: center;
    line-height: 40px;
}
#filter-toggle.toggle:before {
    content: "+";
    line-height: 48px;
}
/*---------- LAYOUT FROM STYLE.CSS  ------------------*/
.site { margin: 0; }
.site-header { padding: 0;}
.site-main {
    margin-bottom: 2em;
}
/*---------- CONTENT ------------------*/

/* ----- HEADER ----- */
#header {
    height: 80px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 10px -2px #333;
    position: fixed;
    z-index: 1000;
}
#header .site-title,
#header .site-description {
	display: block;
}
#header .navbar-brand img {
	height: 40px;
	width: auto;
	margin: 0;
}
.logged-in .navbar {
	top: 32px;
}
/* main navigation */
#site-header-menu {
    margin: 0;
    position: relative;
    top: 11px;
    font-size: 110%;
    float: right;
    text-align: center;
	display: block;
}
.main-navigation {
    font-family: "opensans_regular",sans-serif;
}
.main-navigation li {
    margin: 0 2px;
    font-size: 1.3em;
    display: inline-block;
    padding: 8px;
    color: #444;
}
/* active item */
.main-navigation li.current-menu-item {
    background: rgb(134, 199, 61);
}
.main-navigation li.current-menu-item:before,
.main-navigation li.current-menu-item a,
.main-navigation li.current-menu-item a:hover,
.main-navigation li.current-menu-item:hover,
.main-navigation li.current-menu-item:hover > a {
    color: #fff;
    opacity: 1;
}
.main-navigation li.current-menu-item > a {
    text-shadow: 1px 1px 1px #46691E;
}
.main-navigation ul li.current-menu-item ul li a,
.main-navigation ul li.current-menu-item ul li a:hover {
    color: #333;
}
.main-navigation .menu-item-has-children > a::after {
    content: "\25B6";
}
.main-navigation ul ul .menu-item-has-children > a::after {
    transform: none;
    top: 0;
}
.main-navigation ul ul .menu-item-has-children > a {
    padding-right: 0;
}
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    right: auto;
    left: 100%;
    top: 0;
}
/* stromy */
.main-navigation li#menu-item-96 {
    background: rgba(123, 194, 44, 0.2);
}
.main-navigation li#menu-item-96.current-menu-item {
    background: rgb(134, 199, 61);
}

.main-navigation a {
    color: #444;
    text-transform: uppercase;
    opacity: 0.9;
    padding: 0;
    display: block;
}
.main-navigation .menu-item-has-children > a {
    padding-right: 0;
}
.main-navigation .menu-item-has-children > a:after {
    position: relative;
    top: -1px;
    left: 0;
    margin-left: 5px;
    font-size: 115%;
}
/* ICONS NAV */
.main-navigation li a:before {
    content: "\f06c";
    font-family: "FontAwesome";
    font-size: 1.3em;
    padding: 1px 0;
    margin-bottom: 2px;
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 22px;
    color: #444;
    display: block;
    text-align: center;
}
.main-navigation li ul li a:before {
    display: none;
}
.main-navigation li ul li a {
    padding: 15px 15px;
}
.main-navigation li.current-menu-item a:before {
    color: #fff;
}
/* home */
.main-navigation li#menu-item-27 a:before {
    content: "\f015";
}
/* aktuality */
.main-navigation li#menu-item-46 a:before {
    content: "\f1ea";
}
/* stromy */
.main-navigation li#menu-item-96 a:before {
    content: "\f06c";
    color: #7bc22c;
}
.main-navigation li#menu-item-96.current-menu-item a::before {
    color: #fff;
}
/* výlety */
.main-navigation li#menu-item-36 a:before {
    content: "\f277";
}
/* zajimavosti */
.main-navigation li#menu-item-38 a:before {
    content: "\f005";
}
/* souteze */
.main-navigation li#menu-item-34 a:before {
    content: "\f091";
}
/* o webu */
.main-navigation li#menu-item-32 a:before {
    content: "\f129";
}
/* publikace */
.main-navigation li#menu-item-1034 a:before {
    content: "\f02d";
}
/* kontakt */
.main-navigation li#menu-item-30 a:before {
    content: "\f095";
}

.main-navigation a:hover,
.main-navigation a:focus,
.main-navigation li:hover > a,
.main-navigation li.focus > a {
    color: #444;
    opacity: 1;
    text-decoration: none;
}
/* 2nd level nav */
.main-navigation ul ul li {
    font-size: 0.9em;
}
.main-navigation ul ul a {
    color: #333;
    min-width: 200px;
    text-align: left;
}
.main-navigation li:hover > ul,
.main-navigation li.focus > ul {
    top: 60px;
}
.main-navigation ul ul a:hover,
.main-navigation ul ul a:focus,
.main-navigation ul ul li:hover > a,
.main-navigation ul ul li.focus > a {
    color: #333;
    opacity: 1;
}
/* logo */
.header-image {
    margin: 0;
    float: left;
    position: relative;
    top: 4px;
}
.header-image a {
    display: block;
    margin-right: 1em;
    float: left;
}
.header-image img {
    width: 63px;
    height: auto;
}
.site-branding {
    float: left;
    position: relative;
    top: 0;
    margin-top: 1.5em;
}
.site-title {
    font-size: 3em;
}
.site-description {
    font-size: 1.2em;
    clear: both;
    line-height: 1.3em;
}
.site-branding .site-title a,
.site-branding .site-title a:hover,
.site-branding .site-title a:focus,
.site-branding .site-title a:active {
    color: #007a64;
    font-family: "TimesNewRoman";
}
/* MAIN CAROUSEL */
#main-carousel {
    clear: both;
    top: 80px;
    position: relative;
}
#main-carousel .ug-gallery-wrapper .ug-textpanel-title,
#main-carousel .ug-gallery-wrapper .ug-textpanel-description {
    font-size: 6em;
    font-family: "opensans_light",sans-serif;
    font-weight: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    top: initial!important;
    bottom: 1em;
    text-align: center;
}
#main-carousel .ug-gallery-wrapper .ug-textpanel-title {
    text-shadow: 5px 2px 3px #000;
}
#main-carousel .ug-gallery-wrapper .ug-textpanel-description {
    font-size: 3em;
    bottom: 0em;
    background: rgba(26, 132, 114, 0.62);
}
#main-carousel .ug-gallery-wrapper .ug-textpanel-bg {
    display: none!important;
}
#main-carousel .ug-textpanel-textwrapper,
#main-carousel .ug-textpanel {
    height: 100%!important;
}
/*---------------- BREADCRUMBS  -------------*/
.breadcrumbs{
    list-style:none;
    margin: 0;
    overflow:hidden;
	font-size: 12px;
}
.breadcrumbs ul {
    margin-bottom: 0;
}
.breadcrumbs li{
    display:inline-block;
    vertical-align:middle;
    margin-right:15px;
}
.breadcrumbs .separator{
    font-size:16px;
    font-weight:100;
    color:#ccc;
    margin: 0 5px;
}
/*---------------- MAIN CONTENT  -------------*/
#primary,
#secondary {
    font-size: 16px;
}
/* ---- ikonky u nadpisu stranek ----*/
/* O webu*/
#post-23 h2:before,
#post-21 h2:before,
#post-1032 h2:before,
#post-9 h2:before,
#post-94 h2:before  {
    content: "\f129";
    font-family: "FontAwesome";
    padding-right: 15px;
}
/* stromy */
#post-94 h2:before {
    content: "\f06c";
}
/* výlety */
#post-9 h2:before {
    content: "\f277";
}
/* kontakty */
#post-21 h2:before {
    content: "\f095";
}
/* publikace */
#post-1032 h2:before {
    content: "\f02d";
}
/*---------------- SIDEBAR  -------------*/
.widget {
    border-top: 1px dashed #23282D;
    margin-bottom: 1em;
	padding-top: 1em;
}
.widget h2.widget-title,
.widget h2 {
    font-size: 1.1em;
    font-weight: normal;
}
.widget .widget-title {
	font-family: "opensans_regular",sans-serif;
	margin-bottom: 0.5em;
}
#primary + .col-md-3 {
    padding-left: 3em;
}
/* action widget */
#ps_action_widget-3 {
    padding-bottom: 1em;
}
.sidebar .action-item {
    margin: 0;
    padding: 0.3em 0 0.5em 0;
    border-bottom: 1px solid #efefef;
}
.sidebar .action-item:last-child {
    border-bottom: none;
}
.sidebar .action-item h4 {
    margin: 0;
}
.sidebar .action-item p {
    margin-bottom: 0;
}

/* newsletter widget */
#ninja_forms_widget-2 {
    background: #FF961D;
    color: #fff;
    padding: 1em;
    border: none;
    text-align: center;
}
#ninja_forms_widget-2 .ninja-forms-required-items,
#ninja_forms_widget-2 .ninja-forms-req-symbol {
    display: none;
}
#ninja_forms_widget-2 input {
    height: 35px;
    font-size: 14px;
    text-align: left;
}
#ninja_forms_widget-2 input[type="submit"] {
    display: inline-block;
}
#ninja_forms_widget-2 .submit-wrap {
    margin-bottom: 0;
}
#ninja_forms_widget-2 h2 {
    font-weight: bold;
    margin: 10px 0;
    font-size: 20px;
}
#ninja_forms_widget-2 h2 + p {
    font-size: 13px;
    line-height: 16px;
}
/* archivace logo */
.archive-logo a {
    text-align: center;
    display: block;
    text-decoration: none;
    box-shadow: none;
}
.archive-logo a img {
    display: inline-block;
}
/* bottom sidebar: banner */
#content-bottom-widgets {
	text-align: center;
}
#content-bottom-widgets .widget-area {
    margin-bottom: 0;
}
#content-bottom-widgets section {
    border-top: none;
}
/*---------------- FOOTER -------------*/
#footer {
	text-align: center;
	padding: 2em 0 0 0;
	border-top: 1px solid #ccc;
    background: #eee;
    color: #333;
}
#footer .footer-top {
    text-align: left;
    font-size: 14px;
}
#footer .footer-top .footer-content {
    height: 262px;
}
#footer .footer-top p {
    margin-bottom: 10px;
}
#footer .footer-top.col-md-12 {
    padding: 0;
}
#footer h3 {
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 0.3em;
}
#footer .site-info {
    background: #444;
    width: 100%;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 1.5em;
}
#footer .site-info p {
    margin: 0;
    padding: 1em 0;
}
#footer .site-info a,
#footer .site-info {
    color: #fff;
    font-size: 1.3em;
}
#footer .swiss-logo {
    height: 90px;
    width: auto;
    display: block;
}
#footer .swiss-logo + p {
    text-align: left;
    margin-top: 5px;
    font-size: 90%;
}
/* autors container */
.autors-wrap {
    border-bottom: 1px dashed #ccc;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}
/* social icons */
#footer .social-icons .social-item {
    font-size: 2em;
}
#footer .social-icons a > i {
    vertical-align: bottom;
}
#footer .social-icons .fb-social {
    color: #45619D;
}
#footer .social-icons .rss-social {
    color: #F1861E;
}
/* ACTUALITIES */
.actualities article {
    margin: 15px;
    padding: 0;
    position: relative;
    height: 450px;
    overflow: hidden;
    width: 29.4%;
    float: left;
    box-shadow: rgba(0,0,0,.298039) 0 1px 4px -1px,inset 0 -1px 0 0 rgba(0,0,0,.24);
    border-radius: 4px;
    z-index: 100;
}
.actualities .img {
    margin-bottom: 0;
    text-align: center;
}
.actualities .img img {
    height: 230px;
    width: auto;
    max-width: initial;
    display: inline-block;
}
.actualities .img a {
    margin-bottom: 0;
    background: #efefef;
}
.actualities .date {
    width: 64px;
    background: #fff;
    color: #333;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 8%;
    box-shadow: 0px 1px 7px -1px #333;
    border-radius: 3px 4px 4px 3px;
}
.actualities .day,
.list-page .day {
    padding: 0 5px 0 6px;
    display: inline-block;
    font-size: 80%;
    font-weight: bold;
    float: left;
}
.actualities .month,
.list-page .month {
    background: RGB(134, 199, 61);
    color: #FFF;
    display: inline-block;
    padding: 0 6px;
    font-size: 80%;
    float: right;
    border-radius: 0 3px 3px 0;
}
.actualities .content {
    width: 100%;
    background: #fff;
    color: #333;
    clear: both;
    padding: 0.8em 1em;
}
.actualities h2.entry-title {
    font-size: 1.2em;
    color: #fff;
    text-align: left;
    margin: 0;
    font-weight: normal;
    font-family: "opensans_regular",sans-serif;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5em;
    height: 55px;
    overflow: hidden;
}
.actualities .entry-content {
    padding: 10px 0;
    font-size: 0.9em;
    line-height: 1.5em;
    height: 90px;
    overflow: hidden;
}
.actualities .content .link {
    clear: both;
    margin: 1em 0;
    float: none;
    display: inline-block;
    background: #eee;
    padding: 0.5em 1.5em;
}
/* hover effect */
.actualities article:hover .content {
    bottom: 0;
    height: 100%;
    background: transparent;
}

body:not(.search-results) article:not(.type-page) .entry-content {
    float: left;
    width: 100%;
}
/* LIST ARTICLE PAGE */
.list-page article {
    position: relative;
    border-bottom: 1px dashed #ADADAD;
    padding: 2em 0;
}
.list-page .date {
    background: #f3f3f3;
    padding: 5px 15px;
    color: #333;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
}
.list-page .date i {
    margin-left: 10px;
}
.list-page .date span {
    margin: 0 10px;
}
.list-page article h2 {
    clear: both;
    text-align: left;
    margin-bottom: 15px;
}
.list-page article .post-thumbnail {
    margin-bottom: 0;
}
.list-page article .post-thumbnail img {
    max-height: 225px;
    overflow: hidden;
}
.list-page article:last-of-type {
    margin-bottom: 1em;
}
.list-page article .entry-content {
    margin-bottom: 0.5em;
    font-size: 1em;
}
/* skryti nadpisu ve vypisu */
.list-page article .entry-content h2,
.list-page article .entry-content h3,
.list-page article .entry-content h4,
.list-page article .entry-content h5,
.list-page article .entry-content h6 {
    display: none;
}
/* POST THUMBNAIL */
.post-thumbnail > img {
    max-height: 500px;
    width: auto;
}
/* --------------------------------------------------------------
			HOMEPAGE
------------------------------------------------------------------*/
/* --------- ROZCESTNIK ---------*/
/* HP BOXES */
.guide-post {
    margin: 3em -15px 5em -15px;
}
.guide-post .col-md-9 {
    padding-right: 0;
}
.guide-post .col-md-3 {
    padding-left: 3em;
}
/* boxes layout */
.hp-box.item-1,
.hp-box.item-2 {
    width: 48.5%;
    float: left;
    max-height: 257px;
    overflow: hidden;
    display: block;
    border-radius: 4px;
}
.hp-box.item-2 {
    float: right;
}
.hp-box.item-3,
.hp-box.item-4,
.hp-box.item-5 {
    float: left;
    width: 31.25%;
    max-height: 200px;
    overflow: hidden;
    display: block;
    margin-top: 3em;
    margin-right: 3em;
    border-radius: 4px;
}
.entry-content .hp-box.item-3,
.entry-content .hp-box.item-4,
.entry-content .hp-box.item-5 {
    margin-right: 1.9em;
}
.entry-content .hp-box.item-3 a,
.entry-content .hp-box.item-4 a,
.entry-content .hp-box.item-5 a {
    display: block;
}
.hp-box.item-5,
.entry-content .hp-box.item-5 {
    margin-right: 0;
}
.hp-box.item-6 {
    width: 100%;
    max-height: 487px;
    overflow: hidden;
    display: block;
    float: right;
}
/* boxes styles */
.hp-box {
    position: relative;
}
.hp-box .frame {
    height: 257px;
    width: 100%;
    text-align: center;
    position: relative;
}
.hp-box.item-6 .frame {
    height: 544px;
}
.hp-box .frame img {
    position: absolute;
    top: 0;
    bottom: 4%;
    left: 0;
    right: 0;
    margin: auto;
}
.hp-box.item-6 .frame img {
    bottom: 0;
}
.hp-box .bg-title {
    box-shadow: 0px -15px 90px 40px rgba(0, 0, 0, 0.92);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.hp-box .content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: left;
    padding: 0.5em 1.5em;
}
.hp-box.item-3 .content,
.hp-box.item-4 .content,
.hp-box.item-5 .content {
    background: rgba(26, 132, 114, 1);
    width: 100%;
    height: 100%;
}
.hp-box.item-4 .content {
    background: rgba(109, 188, 21,1);
}
.hp-box.item-3 .content i,
.hp-box.item-4 .content span,
.hp-box.item-5 .content i {
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    padding: 20px 16px;
    width: 85px;
    height: 85px;
    box-shadow: 0px 3px 5px 1px rgba(44, 90, 83, 0.57);
    background: rgb(255, 255, 255);
    color: #319080;
}
.hp-box.item-4 .content span {
    color: #7bc22c;
}
.hp-box h2 {
    width: 90%;
    text-align: left;
    margin-bottom: 0;
    font-size: 2.7em;
    font-weight: bold;
}
.hp-box p {
    font-size: 1.35em;
    color: #a9a9a9;
    margin-bottom: 0;
}
.hp-box.item-3 h2,
.hp-box.item-4 h2,
.hp-box.item-5 h2 {
    position: absolute;
    bottom: 20px;
    font-size: 22px;
    text-align: center;
}
.hp-box.item-3 p,
.hp-box.item-4 p,
.hp-box.item-5 p {
    color: #fff;
    text-align: center;
    position: relative;
    top: 22%;
    font-size: 40px;
}
/* h2 background colors */
.hp-box.item-1 h2 {
   // background: rgba(206, 37, 37, 0.8);
}
.hp-box.item-2 h2 {
    // background: rgba(153, 199, 11, 0.8);
}

/* --------------------------------------------------------------
			OTHER PAGES
------------------------------------------------------------------*/
/* CONTACT */
.quick-email {
	font-family: "opensans_light",sans-serif;
}
.quick-email .email {
	background: #ED1C91 none repeat scroll 0% 0%;
	color: #FFF;
	width: 95%;
	padding: 1em;
}
address {
	font-size: 1.2em;
	font-weight: normal;
	color: #333;
	margin-top: 1em;
    background: #eee;
    display: inline-block;
    padding: 1em 1.5em;
}
address .small {
	font-size: 70%;
}
/* contact form */
.contact-form {
    margin-top: 2em;
    clear: both;
    width: 100%;
    background: #1A8472;
    padding: 2em 3em;
    color: #fff;
}
.contact-form label {
    font-size: 80%;
}
.contact-form .ninja-forms-form-wrap input[type="text"] {
    height: 35px;
    font-family: "opensans_regular",sans-serif;
    font-size: 14px;
}
.contact-form .ninja-forms-req-symbol {
    color: #fff;
}
.contact-form .ninja-forms-required-items {
    margin-bottom: 1.5em;
    font-size: 70%;
}
.contact-form #ninja_forms_field_1_div_wrap,
.contact-form #ninja_forms_field_2_div_wrap,
.contact-form #ninja_forms_field_3_div_wrap,
.contact-form #ninja_forms_field_4_div_wrap {
    float: left;
    width: 48%;
}
.contact-form #ninja_forms_field_3_div_wrap {
    float: right;
}
.contact-form #ninja_forms_field_1_div_wrap label,
.contact-form #ninja_forms_field_2_div_wrap label,
.contact-form #ninja_forms_field_4_div_wrap label {
    width: 135px;
    display: inline-block;
}
.contact-form #ninja_forms_field_1_div_wrap input,
.contact-form #ninja_forms_field_2_div_wrap input,
.contact-form #ninja_forms_field_4_div_wrap input {
    width: calc(100% - 150px);
    display: inline-block;
}
.contact-form #ninja_forms_field_3_div_wrap textarea {
    height: 145px;
    width: calc(100% - 65px);
    display: inline-block;
    font-family: "opensans_regular",sans-serif;
    font-size: 14px;
}
.contact-form .submit-wrap {
    padding-top: 1em;
    clear: both;
}
.contact-form .ninja-forms-form-title {
    font-size: 1.5em;
}
#post-21 .contact-form .ninja-forms-form-title:before {
    content: "\f0e0";
    font-family: "FontAwesome";
}
.contact-form #ninja_forms_field_4_div_wrap label {
    display: inline-block;
}
.contact-form #ninja_forms_field_5 {
    padding: 1em 1.5em;
    font-size: 90%;
}
/* --------------------------------------------------------------
			FITCHURES
------------------------------------------------------------------*/
/* OWL CAROUSEL */
.ug-gallery-wrapper .ug-canvas-pie {
    display: none!important;
}

/* CONTACT FORM */
#contact-form {
     height: auto;
     background-color: #fff;
     padding: 2em;
     text-align: center;
     font-family: "opensans_light",sans-serif;
     border-left: medium none;
     box-shadow: 0px 2px 10px -1px #B3B3B3;
}
#contact-form form .col-md-6:last-of-type {
     padding-left: 1em;
}
#contact-form input,
#contact-form select {
     width: 100%;
     height:3em;
     line-height: 3em;
     margin:0;
     padding: 0.5em 1em;
     color: #1f1f1f;
     border-radius: 5px;
     border: 1px solid #ccc;
     background: #eee;
}
#contact-form input[type="submit"] {
     color: rgb(255, 255, 255);
     padding: 1em 3em;
     line-height: 1em;
     height: 3em;
     margin-top: 1.5em;
     text-align: center;
     width: initial;
     background: #ED1C91;
     border: none;
}
#contact-form textarea {
     clear: both;
     width: 100%;
     height: 8em;
     padding: 1em;
     margin: 1em 0 0 0;
     color: #1f1f1f;
     border-radius: 5px;
     font-size: 1.2em;
     background: #eee;
     border: 1px solid #ccc;
}
#contact-form label {
     text-align: left;
     line-height: 3em;
}
#contact-form #ninja_forms_field_1_div_wrap {
	float: left;
	width: 48%;
}
#contact-form #ninja_forms_field_2_div_wrap {
	float: right;
	width: 48%;
}
#contact-form .ninja-forms-required-items {
	font-size: 0.9em;
	font-style: italic;
	text-align: left;
	padding-bottom: 1em;
}
#contact-form #ninja_forms_field_3 {
	margin-top: 0;
}
#contact-form #ninja_forms_field_4 {
	width: 21%;
}
#contact-form #ninja_forms_field_4_div_wrap {
	text-align: left;
}

/* COLLAPSE BOOTSTRAP (accordion) */
.panel-heading {
	padding: 0;
}
.panel-title {
    margin: 0px;
    color: inherit;
    font-size: 16px;
    padding: 0px;
    overflow: hidden;
    height: 50px;
}
.panel-title > a {
	display: block;
	height: 100%;
	background: rgba(241, 73, 167, 0.77) none repeat scroll 0% 0%;
	color: rgb(255, 255, 255);
	margin: 0px;
	padding: 0px 1em;
	position: relative;
	font-weight: bold;
}
.panel-body a.btn-default {
	padding: 0.7em 1.5em;
}
.panel-title > a:hover,
.panel-title > a:focus,
.panel-title > a:active {
	text-decoration: none;
	background: rgba(241, 73, 167, 0.85) none repeat scroll 0% 0%;
}
.panel-group .panel + .panel {
    margin-top: 0;
}
.panel-title > a:after {
	content: "";
	font-family: "Glyphicons Halflings";
	position: absolute;
	right: 10px;
	top: 15px;
	font-size: 21px;
}
.panel-title > a.collapsed:after {
	content: "";
}
.panel-body {
	font-weight: normal;
}
/* PLUGIN ACCORDION */
.omsc-toggle-title {
    background: rgba(255, 150, 29, 0.8);
    text-transform: uppercase;
    color: #fff;
}
.omsc-toggle-title:hover,
.omsc-toggle.omsc-expanded .omsc-toggle-title {
    background: rgb(255, 150, 29);
}
/* OMSC INFOBOX */
.omsc-infobox {
    width: auto;
    display: inline-block;
    padding: 1em 2em;
    margin: 0.5em 2em 1em 0;
    float: left;
}
.omsc-infobox h4 {
    color: #fff;
    margin-top: 1em;
}
.omsc-infobox table {
    width: auto;
    border: none;
}
.omsc-infobox table tr td,
.omsc-infobox table tr th {
    border: none;
    padding: 0 1em 0 0;
}
.omsc-biginfobox {
    background-image: none;
}
.post-9 .omsc-biginfobox {
    width: 31%;
    height: 22em;
    overflow: hidden;
    float: left;
    margin-left: 2em;
}
.post-9 .omsc-biginfobox:first-child {
    margin-left: 0;
}
.omsc-biginfobox .omsc-button-block a,
.omsc-biginfobox .omsc-button-block a:hover {
    background: #1A8472;
    color: #fff;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.8;
    transition: all 0.5s;
}
.omsc-biginfobox .omsc-button-block a:hover {
    opacity: 1;
}
.omsc-biginfobox .omsc-text-block-title {
    font-size: 160%;
}
/* PLUGIN: SITE LOCATOR */
.site-locator-map-wrap h3 {
    margin-bottom: 0.3em;
}
.site-locator-map-wrap h4 {
    font-size: 1em;
    text-transform: none;
    margin: 0 0 0.5em 0;
    font-weight: normal;
}
.slm-entry .slm-label {
    display: none;
}
.slm-entry p {
    font-weight: normal;
}
/* PLUGIN PROGRESS MAP */
.cspml_resize_map,
.cspml_fs_title,
.cspml_btn,
.cspml_close_fs,
.cspml_resize_map:hover,
.cspml_fs_title:hover,
.cspml_btn:hover,
.cspml_close_fs:hover {
    background: #007863;
    opacity: 0.9;
}
.cspml_resize_map:hover,
.cspml_btn:hover,
.cspml_close_fs:hover {
    opacity: 1;
}
.cspml_reset_lsitings_filter {
    opacity: 0.7;
}
.cspml_reset_lsitings_filter:hover {
    opacity: 0.8;
}
.cspml_fs_options_list {
    display: none;
}
.cspml_fs_title {
    opacity: 0.8;
}
.cspml_fs_title:hover {
    opacity: 0.9;
}
div.cspm_zoom_in_control,
div.cspm_zoom_out_control {
    background: rgba(0, 120, 99, 0.9);
}
div.cspm_zoom_in_control {
    border-bottom: 1px solid #007863;
}
.cspml_item_pinpoint_triangle {
    border-right: 90px solid rgba(109, 188, 21,0.9);

}
.cspml_details_title {
    height: 55px;
    overflow: hidden;
}
div.cspml_details_container div.cspml_details_title a,
div.cspml_details_container div.cspml_details_title a:hover,
div.cspm_infobox_content_container.cspm_type1 div.cspm_infobox_content div.title a,
div.cspm_infobox_content_container.cspm_type1 div.cspm_infobox_content div.title a:hover {
    color: #007863;
    font-size: 18px;
    font-family: "opensans_regular",sans-serif;
}
div.cspm_infobox_content_container.cspm_type1 div.cspm_infobox_content div.title a,
div.cspm_infobox_content_container.cspm_type1 div.cspm_infobox_content div.title a:hover {
    text-transform: none;
    line-height: 20px;
}
div.cspm_infobox_content_container.cspm_type1 div.cspm_infobox_content div.description {
    line-height: 18px;
}
.icr-item,
.icr-label:hover .icr-item {
    border: 1px solid #007863;
}
.cspml_btn,
.entry-content .cspml_btn {
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
}
.entry-content .cspml_btn > img {
    display: inline-block;
    margin-right: 10px;
}
.cspml_close_fs {
    border-left: 1px solid #0C594B;
    display: inline-block;
}
.cspm_infobox_content .title:before {
    background: none;
}
div.cspml_details_container div.cspml_details_content.grid {
    height: 95px;
    max-height: 95px;
    font-size: 14px;
    font-family: "opensans_regular",sans-serif;
}
div.cspml_details_container div.cspml_details_title {
    padding-bottom: 5px;
}
.cspml_details_container[data-view="grid"],
.cspml_details_content.grid {
    height: 170px!important;
    overflow: hidden;
}
div.cspml_item_holder {
    margin-bottom: 15px;
}
div.cspml_details_container div.cspml_details_title {
    white-space: inherit;
}
div.cspml_details_container div {
    line-height: 22px;
}
.cspml_details_content > .margin-bottom-15 {
    margin-bottom: 5px!important;
}
div.cspml_details_container {
    padding: 8px 15px;
}
form.cspml_filter_form div.cspml_fs_options_list {
    padding: 20px 10px;
}
.cspml_details_content {
    height: auto!important;
}

/*--------------------------------------------------------------------------
---------------------------------------------------------------------------
            ADMINISTRATION
---------------------------------------------------------------------------
----------------------------------------------------------------------------*/
#tinymce p {
    padding: 0;
}
