
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: 768px) {
	/* LAYOUT */
	.site-inner {
		width: 97%;
	}
	#primary + .col-md-3 {
	    padding-left: 1.5em;
	}
	#secondary {
		margin-top: 2em;
	}
	.widget {
		text-align: center;
	}
	.widget h2.widget-title, .widget h2 {
		margin-bottom: 0.5em;
	}
	.entry-header,
	.entry-content,
	.post-thumbnail {
		margin: 0;
	}
	#footer .footer-top .footer-content {
		height: auto;
	}
	#footer .col-md-4 {
		margin-top: 1em;
	}
	#content {
		padding-top: 7em;
	}
	/* BASIC */
	.title {
		font-size: 1.5em;
	}
	/* home content */
	.home #content {
	    padding-top: 5.5em;
	}
	/* HEADER */
	#header {
		height: auto;
		width: 99%;
		position: relative;
	}
	.header-image img {
		width: 50px;
	}
	.site-branding {
		width: 60%;
		margin-top: .5em;
	}
	.site-title {
	    font-size: 2em;
	}
	.site-description {
	    font-size: 0.9em;
	}
	.menu-toggle {
		position: absolute;
		top: 1em;
		right: 1em;
	}
	/* MAIN CAROUSEL */
	#main-carousel {
		top: 66px;
		display: none;
	}
	#main-carousel .ug-gallery-wrapper .ug-textpanel-title,
	#main-carousel .ug-gallery-wrapper .ug-textpanel-description {
	    font-size: 3em;
	    letter-spacing: 3px;
	    bottom: 1.5em;
	}
	#main-carousel .ug-gallery-wrapper .ug-textpanel-description {
		font-size: 1em;
	}
	/* GUIDE POST */
	.guide-post {
	    margin: 3em -15px;
	}
	.guide-post .col-md-9 {
		padding-right: 1.5em;
		margin-bottom: 1.5em;
	}
	.hp-box.item-1,
	.hp-box.item-2 {
		width: 100%;
	}
	.hp-box .frame {
		height: 239px;
	}
	.hp-box.item-1 {
		margin-bottom: 1em;
	}
	.hp-box.item-3,
	.hp-box.item-4,
	.hp-box.item-5 {
	    float: left;
	    width: 100%;
	    margin-top: 1em;
	    margin-right: 1em;
	}
	.home .hp-box.item-3,
	.home .hp-box.item-4,
	.home .hp-box.item-5 {
		width: 31.3%;
	}
	.hp-box.item-5 {
		margin-right: 0;
	}
	.hp-box.item-3 .frame,
	.hp-box.item-4 .frame,
	.hp-box.item-5 .frame {
		height: 150px;
	}
	.hp-box.item-3 p,
	.hp-box.item-4 p,
	.hp-box.item-5 p {
	    top: 12%;
	}
	.hp-box.item-3 h2,
	.hp-box.item-4 h2,
	.hp-box.item-5 h2 {
		font-size: 15px;
		left: 5px;
	}
	.hp-box.item-3 .content i,
	.hp-box.item-4 .content span,
	.hp-box.item-5 .content i {
		width: 60px;
		height: 60px;
		font-size: 60%;
		padding: 17px 14px;
	}
	/* guide post - banner */
	.guide-post .col-md-3 {
	    padding-left: 1.5em;
	}
	.hp-box.item-6 {
		max-height: 155px;
	}
	/* ACTUALITIES */
	.actualities article {
		width: 100%;
		margin: 15px 0;
	}
	.home .actualities article {
		height: 215px;
	}
	.actualities .post .entry-content {
		padding: 10px 0;
	}
	.actualities .content .link {
		margin-top: 0.5em;
	}
	/* SIDEBAR */
	/* newsletter */
	#ninja_forms_widget-2 input {
		height: 43px;
	}
	/* CONTACTS FORM */
	.contact-form {
		padding: 1em;
	}
	.contact-form .ninja-forms-form-title {
	    font-size: 1.2em;
	}
	.contact-form #ninja_forms_field_1_div_wrap,
	.contact-form #ninja_forms_field_2_div_wrap,
	.contact-form #ninja_forms_field_3_div_wrap,
	.contact-form #ninja_forms_field_4_div_wrap {
		width: 100%;
	}
	.contact-form #ninja_forms_field_1_div_wrap label,
	.contact-form #ninja_forms_field_2_div_wrap label,
	.contact-form #ninja_forms_field_3_div_wrap label {
	    width: auto;
	    width: 52px;
	}
	.contact-form #ninja_forms_field_1_div_wrap input,
	.contact-form #ninja_forms_field_2_div_wrap input,
	.contact-form #ninja_forms_field_3_div_wrap input {
		width: calc(100% - 65px);
		display: inline-block;
	}
	/* NAVIGATION */
	#site-header-menu {
		display: none;
		width: 100%;
		position: absolute;
		top: 66px;
		float: none;
		z-index: 1000;
	}
	#site-header-menu ul {
		background: rgb(255, 255, 255) none repeat scroll 0% 0%;
		box-shadow: 0px 7px 7px -6px rgb(102, 102, 102);
		top: -6px;
	}
	#site-header-menu ul ul,
	#site-header-menu ul ul ul {
		box-shadow: none;
	}
	.main-navigation li {
		display: block;
		text-align: left;
		border-bottom: 1px solid #eee;
		padding: 0;
	}
	.main-navigation li a {
		padding: 0 0.8em;
		height: 43px;
		line-height: 43px;
	}
	.main-navigation ul ul {
		width: 100%;
		margin: 0;
		padding: 0;
		top: 0;
		box-shadow: none;
	}
	.dropdown-toggle::after {
		position: absolute;
		top: 0;
		right: 0;
		height: 43px;
		line-height: 43px;
	}
	.main-navigation ul ul li a {
		padding: 0 1.8em;
	}
	.main-navigation ul ul ul li a {
		padding: 0 2.8em;
	}
	.main-navigation li a::before,
	.main-navigation .menu-item-has-children > a::after {
		display: none;
	}
	.menu-toggle,
	.menu-toggle:hover {
	    background-color: #1a8475;
	    color: #fff;
	    font-size: 1em;
	    height: 35px;
	    width: 50px;
	    text-align: center;
		margin-top: 0;
		opacity: 0.9;
	}
	.menu-toggle:hover {
		opacity: 1;
	}
}
@media (min-width: 500px) {

}


@media (min-width: 768px) and (max-width: 991px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {



}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}
